.status-cell{
    font-weight: 800;
    border-radius: 4px;
    padding: 5px;
    min-width: 40px;
    max-width: 40px;
}
.status-NEW,
.status-PENDING{
    color: #007bff;
}
.status-APPROVED{
    color: #198754;
}
.status-REJECTED,
.status-CANCELLED{
    color: #dc3545;
}