.sidebar-wrapper{
    display: flex;
    align-items: stretch;
}
#sidebar {
    min-width: 200px;
    max-width: 200px;
    min-height: 100vh;
}
#content {
    width: 100%;
    min-height: 100vh;
    padding: 10px;
}