@import './assets/fonts/fonts.css';

body, .p-component {
    font-size: 12px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
}

.bg-pattern-dark {
  background: url(./assets/images/dark_exa.png) repeat 0 0;
}

.bg-pattern-light {
  background: url(./assets/images/cream_pixels.png) repeat 0 0;
}

.p-datatable .p-datatable-tbody > tr > td,
.p-datatable .p-datatable-thead > tr > th {
  padding: 0.35rem;
}

.page-title {
    font-size: 24px;
    font-weight: 400;
    color: #0b5ed7;
    margin-bottom: 1rem;
    text-transform: uppercase;
}
.importent-text,
.importent-text input {
  font-size: 16px;
  font-weight: 400;
  color: #0b5ed7;
  text-transform: uppercase;
}
.p-inputgroup input:first-child,
.p-inputgroup .p-inputtext:first-child {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.input-group-text{
  height: 100%;
}
.builder-sidebar .btn {
    min-width: 100% !important; 
}

.ng-valid[required], .ng-valid.required  {
  border-left: 5px solid #42A948; /* green */
}

.ng-invalid:not(form)  {
  border-left: 5px solid #a94442; /* red */
}



